*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav{
    width: 100%;
    max-width: 1000px;
    background-color: white;
    height: 100px;
    line-height: 40px;
    display: flex;
}

.logo img{
    padding-left: 20px;
    height: 105px;
    width: 139px;
    display: inline;
}

.menu ul {
    display: flex;
    flex-direction: row;
    padding-left: 200px;
}

.menu ul li {
    padding-top: 26px;
    padding-right: 10px;
    list-style: none;
    background-color: white;
}

.menu a {
    position: relative;
    margin-left: 15px;
    text-decoration: none;
    padding: 3px 15px;
    color: black;
    font-weight: 500;
    transition: color 0.3s ease;
    display: inline-block;
}

.menu a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: #a6051a;
    transition: all 0.4s ease;
}

.menu a:hover::after {
    width: 100%;
}

.menu a.active::after {
    width: 100%;
    height: 30px;
    border-bottom: 2px solid #a6051a;
    border-right: 2px solid #a6051a;
    border-bottom-right-radius: 12px;
    background-color: transparent;
}

.atasan {
    background-color: white;
    color: #100621;
    width: 100%;
    height: 690px;
}

.atasan-inner {
    display: flex;
    margin: auto;
}

.atasangam img {
    height: 690px;
    width: 690px;
    object-fit: cover;
}

.atasantek {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 25px;
}

.atasantek p{
    font-size: 110px;
    padding-top: 10px;
}

.start{
    background-color: #a6051a;
    height: 50px;
    width: 200px;
    text-align: center;
    border-radius: 15px;
    margin: 10px 0 0 285px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start a{
    text-decoration: none;
    color: white;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 45px;
    text-align: center;
    box-sizing: border-box;
}

.start a:hover{
    background-color: white;
    color: #100621;
    border-radius: 15px;
    box-shadow: 0 0 0 3px #a6051a;
}

.kenapa{
    width: 100%;
    color: black;
    background-color: white;
    padding-top: 40px;
}

.kenapa-inner{
    display: flex;
    max-width: 1000px;
    margin: auto;
    padding: 50px 20px;
}

.kenapatek{
    text-align: center;
    padding-right: 8px;
}

.kenapatek h1{
    color: #734f9a;
    font-size: 72px;
}

.kenapatekk{
    display: flex;
    padding-top: 30px;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    height: 200px;
}

.kenapatekk .kt1, .kt2, .kt3{
    padding-right: 10px;
    font-size: larger;
} 

.kenapagam img{
    height: 200px;
    width: 200px;
    border-radius: 20px;
    object-fit: cover;
}

.genpop{
    width: 100%;
    color: black;
    background-color: #01796f;
}

.genpop-inner{
    max-width: 1000px;
    margin: auto;
    padding: 50px 20px;
}

.genpop-inner h1{
    text-align: center;
    font-size: 72px;
    color: white;
}

.gencard{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 30px;
    transition: transform 0.2s ease;
}

.gencard a{
    text-decoration: none;
    color: white;
}

.genpop1{
    padding: 120px 25px 25px 25px;
    margin-right: 50px;
    background: linear-gradient(135deg, #ff6a00 0%, #ee0979 100%);
    border-radius: 8px;
    width: 250px;
    height: 300px;
    margin-left: 37px;
}

.genpop2{
    padding: 120px 25px 25px 25px;
    margin-right: 50px;
    background: linear-gradient(135deg, #0062e6 0%, #33a1fd 100%);
    border-radius: 8px;
    width: 250px;
    height: 300px;
    margin-left: 37px;
}

.genpop3{
    padding: 120px 25px 25px 25px;
    background: linear-gradient(to right, #800000, #2c2c2c);
    border-radius: 8px;
    width: 250px;
    height: 300px;
    margin-left: 37px;
}

.genpop1:hover, .genpop2:hover, .genpop3:hover{
    transform: scale(0.9);
}

.artisrec{
    width: 100%;
    color: black;
    background-color: white;
}

.artisrec-inner{
    max-width: 1000px;
    margin: auto;
    padding: 50px 20px;
}

.artisrec-inner h1{
    text-align: center;
    font-size: 72px;
    color: #734f9a;
}

.artcard{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 30px;
}

.artcard h2{
    color: white;

}

.artrec1{
    padding: 120px 25px 25px 25px;
    margin-right: 50px;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("img/hindia.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    width: 250px;
    height: 300px;
    margin-left: 37px;
}

.artrec2{
    padding: 120px 25px 25px 25px;
    margin-right: 50px;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("img/got7.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    width: 250px;
    height: 300px;
    margin-left: 37px;
}

.artrec3{
    padding: 120px 25px 25px 25px;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("img/feast.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    width: 250px;
    height: 300px;
    margin-left: 37px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #222;
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover{
    color: #f9f940;
}